@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800;900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .custom-shape-divider-first {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .custom-shape-divider-first svg {
    position: relative;
    display: block;
    width: calc(103% + 1.3px);
    height: 29px;
  }



  .custom-shape-divider-second {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-second svg {
    position: relative;
    display: block;
    width: calc(127% + 1.3px);
    height: 56px;
  }

  .custom-shape-divider-third {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .custom-shape-divider-third svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 52px;
  }

}
