@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800;900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .custom-shape-divider-first {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .custom-shape-divider-first svg {
    position: relative;
    display: block;
    width: calc(114% + 1.3px);
    height: 145px;
    transform: rotateY(180deg);
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-first svg {
      width: calc(152% + 1.3px);
      height: 117px;
    }
  }

  /** For mobile devices **/
  @media (max-width: 767px) {
    .custom-shape-divider-first svg {
      width: calc(169% + 1.3px);
      height: 99px;
    }
  }


}
